$color-primary-purple: #35273a;
$color-primary-orange: #ffb770;
$color-secondary-orange: #ffcfa1;
$color-light-orange: #fee9d4;
$color-bg-card: #faf5fe;
$color-text-dark: #221227;
$color-text-light: #fefdff;
