$color-primary-purple: #35273a;
$color-primary-orange: #ffb770;
$color-secondary-orange: #ffcfa1;
$color-light-orange: #fee9d4;
$color-dark-orange: #d79451;
$color-bg-card: #faf5fe;
$color-bg-card-hover: #f4e9fb;
$color-text-dark: #221227;
$color-text-light: #fefdff;
$color-white: #ffffff;
$color-light-grey: #ededed;
$color-neutral-grey: #d9d9d9;
