$font-family-base: 'Nokora', sans-serif;
$font-family-secondary: 'Mulish', sans-serif;
$font-family-display: 'Nerko One', cursive;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 26px;
$font-size-display: 56px;
