@use '../../../../styles/abstracts/colors' as *;
@use '../../../../styles/abstracts/typography' as *;

$answer-padding: 0 4px;
$answer-radius: 3px;
$answer-content-gap: 4px;
$answer-line-height: 20px;

:host {
  display: block;
}

.answer {
  display: flex;
  padding: $answer-padding;
  border-radius: $answer-radius;
  color: $color-primary-purple;
  font-family: $font-family-secondary;
  font-size: $font-size-m;
  line-height: $answer-line-height;

  &:hover:not(.answer--disabled) {
    background-color: rgba($color-secondary-orange, 0.4);
  }

  &__content {
    display: flex;
    gap: $answer-content-gap;
  }

  &__letter {
    flex-shrink: 0;
    font-weight: $font-weight-bold;
  }

  &__text {
    font-weight: $font-weight-regular;
  }
}
